

<div class="container top-margin">
  <div class="row text-center">
    <%= image_tag "street.jpg", class: "main-image" %>
    <p class="top-margin">This is some stuff about me.</p>
  </div>
</div>

<div class="container top-margin">
  <div class="row text-center">
    <%= link_to "View Blog", "/blog", class: "btn btn-default" %>
    <%= link_to "Write Blog", "/write_blog", class: "btn btn-default" %>
  </div>
</div>
