// Place all the styles related to the view_blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.other_blog_entries {
  list-style-type: none;
  padding: 0px;
}

.side-bar-photo {
  width: 200px;
  border-radius: 100px;
}

.side-bar {
  text-align: center;
}

.blog_content {
  word-wrap: break-word;
}
